.nav-wrapper img {
	height: 5vh;
	vertical-align: middle;
}

.centered {
	text-align: center;
}

.event {
	vertical-align: top;
}

.banner img {
	width: 100%;
	opacity: 0.9;
}

.banner {
	z-index: 1;
}

nav {
	position: fixed !important;
	top: 0;
	z-index: 2;
}

.floating-button {
	position: fixed;
	bottom: 3vh;
	right: 3vh;
}

.centered .faq-row {
	text-align: left;
}

.top-spacing {
	margin-top: 7.5vh !important;
}

.card-panel img {
	vertical-align: middle;
}

.event .col.s12 .card-panel .row {
	margin-bottom: 0;
}

#map {
	height: 35vh;
	width: 100%;
}